.imageContainer {
  max-width: 150px;
}
.burgerCard {
  width: 100%;
  color: #2e2e2e;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  
  box-shadow: rgba(0, 0, 0, 0.043) 0px 0px 5px 3px;
}
.burgerCard h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}
.singleBurger {
  max-width: 600px;
}
